:root{
    --background-color-grass: #9bcc50;
    --background-color-fire: #fd7d24;
    --background-color-water: #4592c4;
    --background-color-fly1: #3dc7ef;
    --background-color-fly2: #bdb9b8;
    --background-color-poison: #b97fc9;
    --background-color-bug: #729f3f;
    --background-color-normal: #a4acaf;
    --background-color-electric: #eed535;
    --background-color-ground1: #f7de3f;
    --background-color-ground2: #ab9842;
    --background-color-fairy: #fdb9e9;
    --background-color-fighting: #d56723;
    --background-color-psychic: #f366b9;
    --background-color-rock: #a38c21;
    --background-color-steel: #9eb7b8;
    --background-color-ice: #51c4e7;
    --background-color-ghost: #7b62a3;
    --background-color-dragon1: #53a4cf;
    --background-color-dragon2: #f16e57;
    --background-color-dark: #707070;
}

#grass{
    background-color: var(--background-color-grass);
}

#fire{
    background-color: var(--background-color-fire);
}
#water{
    background-color: var(--background-color-water);
}
#flying{
    background:linear-gradient(180deg, var(--background-color-fly1) 50%, var(--background-color-fly2) 50%);
    background-color: var(--background-color-fly1);
}
#poison{
    background-color: var(--background-color-poison);
}
#bug{
    background-color: var(--background-color-bug);
}
#normal{
    background-color: var(--background-color-normal);
}
#electric{
    background-color: var(--background-color-electric);
}
#ground{
    background:linear-gradient(180deg, var(--background-color-ground1) 50%, var(--background-color-ground2) 50%);
    background-color: var(--background-color-ground1);
}
#fairy{
    background-color: var(--background-color-fairy);
}
#fighting{
    background-color: var(--background-color-fighting);
}
#psychic{
    background-color: var(--background-color-psychic);
}
#rock{
    background-color: var(--background-color-rock);
}
#steel{
    background-color: var(--background-color-steel);
}
#ice{
    background-color: var(--background-color-ice);
}
#ghost{
    background-color: var(--background-color-ghost);
}
#dragon{
    background:linear-gradient(180deg, var(--background-color-dragon1) 50%,var(--background-color-dragon2) 50%);
    background-color: var(--background-color-dragon1);
}
#dark{
    background-color: var(--background-color-dark);
}